.g-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(5);
    padding: rem(7) rem(17);
    border-radius: rem(15);
    @include font(13, 600);

    &--gray {
        background-color: #f5f7fb;
        color: $black;
    }

    &--purple {
        background-color: #6200e7;
        color: white;

        i {
            font-size: rem(12);
            padding-top: 2px;
        }
    }
}